@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './lib/constants/variables_color.scss';

.theme-transitioning,
.theme-transitioning *,
.theme-transitioning *::before,
.theme-transitioning *::after {
	transition:
		background-color 0.3s ease-out,
		border-color 0.3s ease-out,
		color 0.3s ease-out,
		fill 0.3s ease-out,
		stroke 0.3s ease-out,
		box-shadow 0.3s ease-out;
}

@layer base {
	/* [크롬, 사파리, 엣지]*/
	::-webkit-scrollbar {
		width: 10px;
		height: 10px;
		background-color: #f8fafc;
	}

	::-webkit-scrollbar-thumb {
		background-color: #148a7d;
		border-radius: 9999px;
		background-clip: padding-box;
		border: 2px solid transparent;
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: #b2ebe3;
		border-radius: 9999px;
		border: 2px solid transparent;
		background-clip: content-box;
	}

	/* [파이어폭스] */
	html {
		scrollbar-width: thin;
		scrollbar-color: #148a7d transparent;
	}

	.dark {
		/* [크롬, 사파리, 엣지]*/
		&::-webkit-scrollbar {
			background-color: #111;
		}
	}
}
